@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.119 0.0437 285.36);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.3706 0.2318 264.2);
    --primary-foreground: oklch(0.934 0 0);
    --secondary: oklch(0.7349 0.1726 45.09);
    --secondary-foreground: oklch(0.119 0.0437 285.36);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --success: oklch(62.7% 0.194 149.214);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
    --nav-background: oklch(from var(--primary) 0.98 0.01 h);

    --font-size-small: 0.875rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.25rem;
    --font-size-heading-1: 2rem;
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.93 0.02 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.729 0.313 264.2);
    --primary-foreground: oklch(0.95 0.001 265.755);
    --secondary: oklch(0.9 0.2 49.16);
    --secondary-foreground: oklch(0.3 0.1 49.16);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --success: oklch(72.3% 0.219 149.579);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --nav-background: oklch(from var(--primary) 0.1 0.25 h);
    --nav-background-secondary: oklch(from var(--primary) 0.35 0.04 h);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        border-color: var(--border);
        outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
    }

    body {
        display: grid;
        justify-items: center;
        min-height: 100dvh;
        background-color: var(--background);
        color: var(--foreground);
        font-size: var(--font-size-regular);
    }

    #app {
        width: 100%;
        max-width: 600px;
    }

    h1 {
        font-size: var(--font-size-heading-1);
        font-weight: 600;
    }
}

:root {
    --view-transition-duration: 150ms;
    --view-transition-translate-distance: 2rem;
    --view-transition-scale: 1;
}

@keyframes view-transition-in {
    from {
        transform: translateY(
                calc(-1 * var(--view-transition-translate-distance))
            )
            scaleY(var(--view-transition-scale));
        opacity: 0;
    }
    to {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}

@keyframes view-transition-out {
    to {
        transform: translateY(calc(var(--view-transition-translate-distance)))
            scaleY(var(--view-transition-scale));
        opacity: 0;
    }
}

.phpdebugbar {
    view-transition-name: phpdebugbar;
}

/* New content coming in */
::view-transition-new(root) {
    opacity: 0;
    animation: calc(var(--view-transition-duration) / 2) view-transition-in;
    animation-timing-function: ease-out;
    animation-delay: calc(var(--view-transition-duration) / 2);
    animation-fill-mode: forwards;
}

/* Old content leaving (optional fade/slide) */
::view-transition-old(root) {
    animation: calc(var(--view-transition-duration) / 2) view-transition-out;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

::view-transition-old(.slide-up):only-child {
    animation: slide-up 300ms ease forwards reverse;
}

::view-transition-new(.slide-up):only-child {
    animation: slide-up 300ms ease forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
